.content-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.banner_description {
  width: 80rem;
  line-height: 1.5;
  padding-top: 3rem;
  padding-left: 5rem;
  font-size: 1.2rem;
  max-width: 70vw;
}
.banner_description_child {
  line-height: 1.3;
  padding-top: 1rem;
  padding-left: 2rem;
  color: rgb(189, 165, 165);
  font-size: 1rem;
  max-width: 70vw;
}
